<li>
        <div class="photo-card">
          <img src="{{webformatURL}}" width="320" alt="" />
          <div class="stats">
            <p class="stats-item">
              <i class="material-icons">thumb_up</i>&nbsp;
              {{likes}}
            </p>
            <p class="stats-item">
              <i class="material-icons">visibility</i>&nbsp;
              {{views}}
            </p>
            <p class="stats-item">
              <i class="material-icons">comment</i>&nbsp;
              {{comments}}
            </p>
            <p class="stats-item">
              <i class="material-icons">cloud_download</i>&nbsp;
              {{downloads}}
            </p>
          </div>
        </div>
      </li>